<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @tazer_device.serial_number %>
</p>

<p>
  <strong>Model:</strong>
  <%= @tazer_device.model %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @tazer_device.date_received %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tazer_device.location %>
</p>

<%= link_to 'Edit', edit_tazer_device_path(@tazer_device) %> |
<%= link_to 'Back', tazer_devices_path %>
